<header>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="text-center text-xl-start">
              <h1 class="display-5 fw-bolder mb-2">Energía Solar para un futuro sostenible</h1>
              <p class="lead fw-normal mb-4">Potencia tu hogar o negocio con soluciones de energía limpia y renovable. Aprovecha el poder del sol con nuestros innovadores sistemas de paneles solares y contribuye a un futuro más verde.</p>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="contract">Comenzar</a>
                <a class="btn btn-outline-secondary btn-lg px-4" href="#features">Leer más</a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            <img class="img-fluid rounded-3 my-5"src="../../assets/img/energia-renovable-limpia.jpg" alt="paneles solares en un tejado">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-4 mb-5 mb-lg-0 text-center"><h2 class="fw-bolder mb-0">Potencia tu hogar con nuestra experiencia solar.</h2></div>
      <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2 justify-content-center">
          <div class="col mb-5 h-100 text-center">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="max-width: 100px; margin: 0 auto;padding:10px;"><i class="bi bi-collection"></i></div>
            <h2 class="h5">Paneles Solares Eficientes</h2>
            <p class="mb-0">Maximiza tu producción de energía con nuestros paneles solares de alta eficiencia. Obtén un rendimiento óptimo incluso en condiciones de baja luz solar.</p>
          </div>
          <div class="col mb-5 h-100 text-center">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="max-width: 100px; margin: 0 auto;padding:10px;"><i class="bi bi-building"></i></div>
            <h2 class="h5">Diseños Personalizados</h2>
            <p class="mb-0">Creamos soluciones personalizadas para satisfacer las necesidades específicas de tu hogar o empresa. Desde instalaciones en tejados hasta sistemas de seguimiento solar, lo tenemos cubierto.</p>
          </div>
          <div class="col mb-5 mb-md-0 h-100 text-center">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="max-width: 100px; margin: 0 auto;padding:10px;"><i class="bi bi-sun"></i></div>
            <h2 class="h5">Instalaciones Profesionales</h2>
            <p class="mb-0">Nuestro equipo de expertos en instalación garantiza una implementación sin problemas de tu sistema solar. Confía en nosotros para una experiencia profesional de principio a fin.</p>
          </div>
          <div class="col h-100 text-center">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="max-width: 100px; margin: 0 auto;padding:10px;"><i class="bi bi-toggles2"></i></div>
            <h2 class="h5">Soporte Continuo</h2>
            <p class="mb-0">Ofrecemos soporte continuo para mantener tu sistema solar funcionando de manera óptima. Estamos aquí para resolver cualquier problema y maximizar tu inversión en energía renovable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
